<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <button class="btn" routerLink="/addAdmin">New Admin</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                      Address
                                    </th>
                                    <th>
                                      Role
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users">
                                          <td>
                                              {{user.name}}
                                          </td>
                                          <td>
                                              {{user.email}}
                                          </td>
                                          <td>
                                              {{user.address.city}}, {{user.address.street}}, {{user.address.zipCode}}
                                          </td>
                                          <td>
                                              {{user.role.roleName}}
                                          </td>
                                          <td>
                                            <div class="icons d-flex align-items-center">
                                                <span class="icon inf" routerLink="/userDetails" (click)="sendUser(user)">
                                                    <i class="material-icons" >info</i>
                                                </span>
                                                <span *ngIf="user.role.roleName=='ADMIN'" class="icon upd" routerLink="/updateAdmin" (click)="sendUser(user)">
                                                    <i class="material-icons">edit</i>
                                                </span>
                                                <span *ngIf="user.role.roleName=='ADMIN'" class="icon dlt">
                                                    <i class="material-icons" (click)="deleteAdmin(user.userId)">delete</i>
                                                </span>
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  