<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput 
                                    placeholder="Username"
                                    formControlName="name"
                                    >
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput 
                                    placeholder="Email address" 
                                    type="email"
                                    formControlName="email"
                                    >
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput 
                                  placeholder="Password" 
                                  type="password"
                                  formControlName="password"
                                  >
                                </mat-form-field>
                            </div>
                        </div>
                          <div class="row" formGroupName="Address">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput 
                                  placeholder="City" 
                                  type="text"
                                  formControlName="city"
                                  >
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput 
                                  placeholder="Street" 
                                  type="text"
                                  formControlName="street"
                                  >
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput 
                                  placeholder="Postal Code" 
                                  type="text"
                                  formControlName="postalCode"
                                  >
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add Admin</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
