<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <button class="btn" routerLink="/addProduct">New Product</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                      Price
                                    </th>
                                    <th>
                                      Discount
                                    </th>
                                    <th>
                                      Quantity
                                    </th>
                                    <th>
                                      Images
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                          <td>
                                              {{product.id}}
                                          </td>
                                          <td>
                                              {{product.name}}
                                          </td>
                                          <td>
                                              {{product.description}}
                                          </td>
                                          <td>
                                              {{product.price}}DT
                                          </td>
                                          <td>
                                              {{product.discount}}%
                                          </td>
                                          <td>
                                              {{product.quantity}}
                                          </td>
                                          <td>
                                              {{product.images}}
                                          </td>
                                          <td>
                                            <div class="icons d-flex align-items-center">
                                                <span class="icon inf" routerLink="/productDetails" (click)="sendProduct(product)">
                                                    <i class="material-icons">info</i>
                                                </span>
                                                <span class="icon upd" routerLink="/updateProduct" (click)="sendProduct(product)">
                                                    <i class="material-icons">edit</i>
                                                </span>
                                                <span class="icon dlt">
                                                    <i class="material-icons" (click)="deleteProduct(product.id)">delete</i>
                                                </span>
                                            </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  