.icons{
    height: 100%;
    .icon{
        margin-right: 10px;
        cursor: pointer;
    }
    
    .dlt{
        color: red;
    }
    .inf{
        color: #00D100;
    }
    .upd{
        color: #FFDA00
    }
}
